*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}
@media screen and (max-width:992px) and (min-width:320px){
    .container table{
        width: 100%;
    }
}
.container table tr th{
    background-color: white;
    padding-bottom: 10px;
    color: #3ba33b;
}
.container table tr .header{
    text-align: right;
    padding-right: 15px;
}
.container table tr .header2{
    text-align: left;
    padding-left: 5px;
}

.container table tbody tr td .table-cell{
    width: 15px;
    height: 2px;
    border: 3px solid green;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    transform: rotate(-45deg);
    
}
.container table tbody tr .text span{
    vertical-align: top;
    background-color: green;
    color: white;
    padding: 2px;
    font-size: 10px;
}

.container table tbody tr td .check{
    width: 15px;
    height: 2px;
    border: 3px solid rgb(197, 197, 197);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    transform: rotate(-45deg);
   
}
@media screen and (max-width:992px) and (min-width:320px){
    .container table tbody tr td{
        font-size: 12px;
    }
}
.container table tr:nth-child(odd){
    background-color: #f2f2f2;
}
.container table tr:hover{
    background-color: #ddd;
}
.container table tr,td{
    padding: 10px;
}
.container table tr .text{
    text-align: left;
}